target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
release.properties
tmp/

# Eclipse project settings
.classpath
.project
.settings

# IntelliJ user specific files
# see https://intellij-support.jetbrains.com/entries/23393067-How-to-manage-projects-under-Version-Control-Systems
.idea/artifacts
.idea/dictionaries
.idea/httpRequests
.idea/libraries
.idea/scopes
.idea/shelf
.idea/compiler.xml
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dynamic.xml
.idea/encodings.xml
.idea/jarRrepositories.xml
.idea/jsLibraryMappings.xml
.idea/misc.xml
.idea/modules.xml
.idea/sqlDataSources.xml
.idea/tasks.xml
.idea/uiDesigner.xml
.idea/workspace.xml
*.iml

.DS_Store

