<configuration>
    <!-- uncomment to display details about parsing of config file -->
    <!-- <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" /> -->
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%h %l %u [%t] "%r" %s %b "%i{Referer}" "%i{User-Agent}" [%D ms]</pattern>
    </encoder>
  </appender>

    <appender-ref ref="STDOUT" />

</configuration>
