File>New, "TrakEM2 (from Render Web Services)", org.janelia.render.trakem2.ImportFromRender_Plugin("NEW_PROJECT")
File>Import, "Render Web Services Layers...", org.janelia.render.trakem2.ImportFromRender_Plugin("IMPORT_LAYER")
File>Export, "Render Web Services As Is", org.janelia.render.trakem2.ExportToRenderAsIs_Plugin
File>Export, "Render Web Services Using Basis", org.janelia.render.trakem2.ExportToRenderUsingBasisStack_Plugin