File>New, "TrakEM2 (from Render Web Services)", org.janelia.render.trakem2.ImportFromRender_Plugin("NEW_PROJECT")
File>Import>Render Web Services, "Import Tile...", org.janelia.render.fiji.ImportRenderTile_Plugin("IMPORT_TILE")
File>Import>Render Web Services, "Import Layers to TrakEM2...", org.janelia.render.trakem2.ImportFromRender_Plugin("IMPORT_LAYER")
File>Export, "Render Web Services As Is", org.janelia.render.trakem2.ExportToRenderAsIs_Plugin
File>Export, "Render Web Services Using Basis", org.janelia.render.trakem2.ExportToRenderUsingBasisStack_Plugin