<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Match Trial</title>

    <link rel="stylesheet" href="../css/match.css?v=20180823_001">

    <script type="text/javascript" src="../script/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="../script/janelia-render.js?v=20180904_001"></script>
    <script type="text/javascript" src="../script/janelia-match-trial.js?v=20191025_003"></script>
    <script type="text/javascript">

        // TODO: figure out why matchTrial needs to be a var for initNewTrialWindow to work
        // noinspection ES6ConvertVarToLetConst
        var matchTrial;

        $( document ).ready(function() {

            const util = new JaneliaScriptUtilities();
            const queryParameters = new JaneliaQueryParameters();

            const baseUrl = util.getServicesBaseUrl();

            // TODO: remove this when done debugging on localhost
            // baseUrl = "http://renderer-dev:8080/render-ws/v1";

            const owner = 'flyTEM';

            // changed query parameter to 'scale' from 'viewScale' to better handle old URLs with viewScale=1.0
            const viewScale = queryParameters.get('scale', 0.2);

            const canvas = document.getElementById("theCanvas");

            matchTrial = new JaneliaMatchTrial(baseUrl, owner, canvas, viewScale);

            const matchTrialId = queryParameters.get('matchTrialId', 'TBD');

            const newTrialButtonSelector = $('#newTrial');
            const trialRunningSelector = $('#trialRunning');
            trialRunningSelector.hide();

            const errorMessageSelector = $('#message');
            const saveToCollectionButtonSelector = $('#saveToCollection');

            const saveToOwner = queryParameters.get("saveToOwner", "flyTEM");
            const saveToCollection = queryParameters.get("saveToCollection");
            if (typeof saveToCollection === 'undefined') {
                saveToCollectionButtonSelector.hide();
            } else {
                saveToCollectionButtonSelector.val("Save To " + saveToCollection);
                saveToCollectionButtonSelector.on('click', function() {
                    matchTrial.saveTrialResultsToCollection(saveToOwner, saveToCollection, errorMessageSelector);
                });
            }

            if (matchTrialId === 'TBD') {
                newTrialButtonSelector.hide();
                $('#headerDiv').hide();

                const pRenderParametersUrl = queryParameters.get('pRenderParametersUrl');
                if (typeof pRenderParametersUrl !== 'undefined') {
                    $('#pRenderParametersUrl').val(pRenderParametersUrl);
                }

                const qRenderParametersUrl = queryParameters.get('qRenderParametersUrl');
                if (typeof qRenderParametersUrl !== 'undefined') {
                    $('#qRenderParametersUrl').val(qRenderParametersUrl);
                }

            } else {
                $('#formDiv').hide();
                const trialSuffix = matchTrialId.substring(matchTrialId.length - 7);
                $(document).attr('title', 'Match Trial ' + trialSuffix);
                const trialDataUrl = matchTrial.matchTrialUrl + '/' + matchTrialId;
                $('#trialId').html('<a target="_blank" href="' + trialDataUrl + '">' + trialSuffix + '</a>');

                const matchTrialDate = new Date(parseInt(matchTrialId.substring(0, 8), 16) * 1000);
                $('#trialStartTime').html(matchTrialDate.toLocaleString());

                matchTrial.loadTrial(matchTrialId);
            }

            newTrialButtonSelector.on('click', function() {
                matchTrial.openNewTrialWindow();
            });

            const runTrialButtonSelector = $('#runTrial');
            runTrialButtonSelector.on('click', function() {
                matchTrial.runTrial(runTrialButtonSelector, trialRunningSelector, errorMessageSelector);
            });

        });

    </script>

</head>
<body>

<h3>
    Match Trial <span id="trialId"></span>
    <input id="newTrial" type="button" style="margin-left:40px" value="Create New Trial">
    <input id="saveToCollection" type="button" style="margin-left:40px" value="Save To Collection">
</h3>

<span id="message" class="error"></span>

<span id="trialRunning" class="trialSpinner"></span>

<div id="formDiv" class="header_div">
    <table class="data_table">
        <tr>
            <td colspan="2"><hr/></td>
        </tr>
        <tr>
            <td>SIFT Feature Parameters:</td>
            <td>
                <label>fdSize: <input id="fdSize" type="number" min="0" max="1000" value="4" required></label>
                <label>minScale: <input id="minScale" type="number" step="0.01" min="0.0" max="1.0" value="0.5" required></label>
                <label>maxScale: <input id="maxScale" type="number" step="0.01" min="0.0" max="1.0" value="1.0" required></label>
                <label>steps: <input id="steps" type="number" min="0" max="100" value="3" required></label>
            </td>
        </tr>
        <tr>
            <td>Match Parameters:</td>
            <td>
                <label>modelType:
                    <select id="matchModelType" required>
                        <option>AFFINE</option>
                        <option>RIGID</option>
                        <option>SIMILARITY</option>
                        <option>TRANSLATION</option>
                    </select>
                </label>
                <label>regularizerModelType:
                    <select id="matchRegularizerModelType" required>
                        <option>NOT INTERPOLATED</option>
                        <option>AFFINE</option>
                        <option>RIGID</option>
                        <option>SIMILARITY</option>
                        <option>TRANSLATION</option>
                    </select>
                </label>
                <label>interpolatedModelLambda: <input id="matchInterpolatedModelLambda" type="number" step="0.01" min="0.0" max="1.0"></label>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <label>ROD: <input id="matchRod" type="number" step="0.01" min="0.0" max="1.0" value="0.95" required></label>
                <label>iterations: <input id="matchIterations" type="number" min="1" max="10000" value="1000" required></label>
                <label>maxEpsilon: <input id="matchMaxEpsilon" type="number" step="0.1" min="0.0" max="100.0" value="5.0" required></label>
                <label>minInlierRatio: <input id="matchMinInlierRatio" type="number" step="0.01" min="0.0" max="1.0" value="0.0" required></label>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <label>minNumInliers: <input id="matchMinNumInliers" type="number" min="0" max="1000" value="8" required></label>
                <label>maxTrust: <input id="matchMaxTrust" type="number" step="0.1" min="0.0" max="100.0" value="30.0" required></label>
                <label>filter:
                    <select id="matchFilter" required>
                        <option>AGGREGATED_CONSENSUS_SETS</option>
                        <option>CONSENSUS_SETS</option>
                        <option>NONE</option>
                        <option>SINGLE_SET</option>
                    </select>
                </label>
            </td>
        </tr>
        <tr>
            <td>Clip Parameters:</td>
            <td>
                <label>pRelativePosition:
                    <select id="pClipPosition">
                        <option>NO CLIP</option>
                        <option>TOP</option>
                        <option>BOTTOM</option>
                        <option>LEFT</option>
                        <option>RIGHT</option>
                    </select>
                </label>
                <label>clipPixels: <input id="clipPixels" type="number" min="0" max="10000"></label>
            </td>
        </tr>
        <tr>
            <td><label for="pRenderParametersUrl">pRenderParametersUrl:</label></td>
            <td><textarea id="pRenderParametersUrl" rows="5" cols="120" required></textarea></td>
        </tr>
        <tr>
            <td><label for="qRenderParametersUrl">qRenderParametersUrl:</label></td>
            <td><textarea id="qRenderParametersUrl" rows="5" cols="120" required></textarea></td>
        </tr>
        <tr>
            <td colspan="2"><hr/></td>
        </tr>
        <tr>
            <td><input id="runTrial" type="button" value="Run Trial"></td>
        </tr>
    </table>
</div>

<div id="headerDiv" class="header_div">
    <table class="data_table">
        <tr>
            <td>Summary:</td>
            <td colspan="4">started at <span id="trialStartTime"></span><span id="trialElapsedMessage"></span></td>
        </tr>
        <tr>
            <td colspan="4"><hr/></td>
        </tr>
        <tr>
            <td>SIFT Feature Parameters:</td>
            <td colspan="4">
                renderScale: <span id="trialRenderScale" class="parameterValue"></span>
                fdSize: <span id="trialFdSize" class="parameterValue"></span>
                minScale: <span id="trialMinScale" class="parameterValue"></span>
                maxScale: <span id="trialMaxScale" class="parameterValue"></span>
                steps: <span id="trialSteps" class="parameterValue"></span>
            </td>
        </tr>
        <tr>
            <td>Match Parameters:</td>
            <td colspan="4">
                modelType: <span id="trialMatchModelType" class="parameterValue"></span>
                <span id="trialInterpolatedModelFields"></span>
            </td>
        </tr>
        <tr>
            <td></td>
            <td colspan="4">
                ROD: <span id="trialMatchRod" class="parameterValue"></span>
                iterations: <span id="trialMatchIterations" class="parameterValue"></span>
                maxEpsilon: <span id="trialMatchMaxEpsilon" class="parameterValue"></span>
                minInlierRatio: <span id="trialMatchMinInlierRatio" class="parameterValue"></span>
            </td>
        </tr>
        <tr>
            <td></td>
            <td colspan="4">
                minNumInliers: <span id="trialMatchMinNumInliers" class="parameterValue"></span>
                maxTrust: <span id="trialMatchMaxTrust" class="parameterValue"></span>
                filter: <span id="trialMatchFilter" class="parameterValue"></span>
            </td>
        </tr>
        <tr id="trialClipRow"></tr>
        <tr>
            <td>P Render Parameters URL:</td>
            <td id="trialpRenderParametersUrl"></td>
            <td>Q Render Parameters URL:</td>
            <td id="trialqRenderParametersUrl"></td>
        </tr>
        <tr>
            <td colspan="4"><hr/></td>
        </tr>
        <tr>
            <td>P Feature Stats:</td>
            <td id="pFeatureStats"></td>
            <td>Q Feature Stats:</td>
            <td id="qFeatureStats"></td>
        </tr>
        <tr>
            <td>Match Stats:</td>
            <td id="matchStats" colspan="4"></td>
        </tr>
        <tr>
            <td>Match View:</td>
            <td>
                <input type='button' value='All Matches' onclick='matchTrial.drawAllMatches()' />
                <input type='button' value='Previous Match' onclick='matchTrial.drawSelectedMatches(-1)' />
                <input type='button' value='Next Match' onclick='matchTrial.drawSelectedMatches(1)' />
                <input id='toggleLinesAndPoints' type='button' value='Lines' onclick='matchTrial.toggleLinesAndPoints()' />
            </td>
            <td id="matchInfo" colspan="3"></td>
        </tr>
    </table>
</div>

<div id="tileDiv">
    <canvas id="theCanvas"></canvas>
</div>

</body>
</html>