<!doctype html>
<!-- copied/adapted from https://github.com/JaneliaSciComp/PointMatchExplorer/blob/master/index.html -->
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Point Match Explorer</title>
    <!-- pme css needs to override bootstrap css, so link to bootstrap css first -->
    <link href='../css/bootstrap.min.css' rel='stylesheet'>
    <link href='../css/point-match-explorer.css?v=20230620_001' rel='stylesheet'>
  </head>
  <body>
    <div id='content'></div>
    <script src='../script/point-match-explorer-bundle.js?v=20230620_001'></script>
  </body>
</html>
