<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <title>Stack Details</title>

    <link rel="stylesheet" href="../css/render.css">

    <script type="text/javascript" src="../script/jquery-2.1.1.min.js"></script>

    <script src="http://code.highcharts.com/stock/4.2.6/highstock.js"></script>
    <script src="https://code.highcharts.com/4.2.6/modules/exporting.js"></script>

    <script type="text/javascript" src="../script/janelia-render.js?v=20170808_001"></script>
    <script type="text/javascript" src="../script/stack-details.js?v=20170105_001"></script>

    <script type="text/javascript">

        $( document ).ready(function() {
            //noinspection JSUnusedLocalSymbols
            var stacksUi = new RenderWebServiceStackDetails('renderStackOwner', 'renderStackProject', 'renderStack', 'sectionDataStatus', 'urlToView');
        });

    </script>

</head>

<body>

<div class="m20">

    <h3><a id="bodyHeaderLink" target="_blank" href=""></a> <span id="bodyHeader"></span> <span id="bodyHeaderDetails"></span></h3>

    <table id="stackInfo">
        <tr>
            <th>Cycle</th>
            <th>Step</th>
            <th>Name</th>
            <th>State</th>
            <th>First Layer</th>
            <th>Last Layer</th>
            <th>Layer Count</th>
            <th>Tile Count</th>
            <th>Shared Transform Count</th>
            <th></th>
        </tr>
    </table>

    <hr/>
    <p id="sectionDataStatus">loading section data ...</p>
    <div id="sectionOrdering"></div>
    <hr/>
    <div id="sectionTileCounts"></div>
    <!--<hr/>-->
    <!--<div id="sectionBounds"></div>-->

</div>

</body>
</html>