<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <title>Stack Details</title>

    <link rel="stylesheet" href="../css/render.css">

    <script type="text/javascript" src="../script/jquery-2.1.1.min.js"></script>

    <script src="http://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>

    <script type="text/javascript" src="../script/render.js"></script>
    <script type="text/javascript" src="../script/stack-details.js?v=20160126_001"></script>

</head>

<body>

<script>
    $(document).ready(initPage());
</script>

<span id="owner"></span> <a id="project" href=""></a>

<h3><span id="bodyHeader"></span> <span id="bodyHeaderDetails"></span></h3>

<div class="m20">
    <table id="stackInfo">
        <tr>
            <th>Cycle</th>
            <th>Step</th>
            <th>Name</th>
            <th>State</th>
            <th>First Section</th>
            <th>Last Section</th>
            <th>Section Count</th>
            <th>Non-Integral Section Count</th>
            <th>Tile Count</th>
            <th>Shared Transform Count</th>
            <th>Links</th>
        </tr>
    </table>
</div>

<hr/>
<p id="sectionDataStatus">loading section data ...</p>
<div id="sectionOrdering"></div>
<hr/>
<div id="sectionTileCounts"></div>
<!--<hr/>-->
<!--<div id="sectionBounds"></div>-->

</body>
</html>