<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <title>Project Stacks</title>

    <link rel="stylesheet" href="../css/render.css">

    <script type="text/javascript" src="../script/jquery-2.1.1.min.js"></script>

    <script type="text/javascript" src="../script/janelia-render.js?v=20170808_001"></script>
    <script type="text/javascript" src="../script/stacks.js?v=20170322_001"></script>

    <script type="text/javascript">
        $( document ).ready(function() {
            //noinspection JSUnusedLocalSymbols
            var stacksUi = new RenderWebServiceProjectStacks('renderStackOwner', 'renderStackProject', 'message', 'urlToView');
        });

    </script>

</head>

<body>

<div class="m20">

    <h3>
        <span id="bodyHeader"></span>
        <span id="bodyHeaderDetails"></span>
    </h3>

    <span id="message"></span>

    <label for="renderStackOwner">Owner:</label>
    <select id="renderStackOwner" title="renderStackOwner"></select>

    <a id="urlToView" class="floatRight" target="_blank">URL to this view</a>

    <br/>
    <br/>

    <label for="renderStackProject">Project:</label>
    <select id="renderStackProject" title="renderStackProject"></select>


</div>

<div class="m20">

    <table id="stackInfo">
        <tr>
            <th>Cycle</th>
            <th>Step</th>
            <th>Name</th>
            <th>State</th>
            <th>First Layer</th>
            <th>Last Layer</th>
            <th>Layer Count</th>
            <th>Tile Count</th>
            <th>Shared Transform Count</th>
            <th>Actions</th>
        </tr>
    </table>

</div>

</body>
</html>