<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tile Pair Selector</title>

    <link rel="stylesheet" href="../css/match.css">

    <script type="text/javascript" src="../script/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="../script/janelia-render.js"></script>
    <script type="text/javascript" src="../script/janelia-match.js"></script>
    <script type="text/javascript">
        var janeliaTilePairControls;
        $( document ).ready(function() {
            janeliaTilePairControls = new JaneliaTilePairControls(
                    'renderStackOwner', 'renderStackProject', 'renderStack',
                    'matchOwner', 'matchCollection', 'matchCollectionPairCount',
                    'groupId', 'tileDate', 'tileColumn', 'tileSuffix', 'otherGroupId', 'otherTileId',
                    'message', 'urlToView', 'matchLoadMessage', 'otherGroupMessage');
        });
    </script>

</head>
<body>

<h3>Tile Pair Selector</h3>

<span id="message" class="error"></span>

<div id="controlsDiv" class="header_div">

    <table class="data_table">
        <tr>
            <td>Match DB:</td>
            <td>
                <label for="matchOwner">Owner:</label>
                <select id="matchOwner"></select>
            </td>
            <td>
                <label for="matchCollection">Collection:</label>
                <select id="matchCollection"></select>
            </td>
            <td>
                <span id="matchCollectionPairCount"></span>
            </td>
        </tr>
        <tr>
            <td>Match Groups:</td>
            <td style="width: 15em">
                <label for="groupId">Group ID:</label>
                <input id="groupId" type='text' class="group_id_field"/>
                <input type='button' value='Load Pairs' onclick='janeliaTilePairControls.setGroupIdAndLoadMatches()' />
            </td>
            <td>
                <label for="otherGroupId">Other Group ID:</label>
                <select id="otherGroupId"></select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <span id="matchLoadMessage"></span>
            </td>
            <td>
                <span id="otherGroupMessage"></span>
            </td>
        </tr>
        <tr>
            <td>Match Pairs:</td>
            <td>
                <table>
                    <tr><td><label for="tileDate">Tile ID:</label></td><td><select id="tileDate"></select></td></tr>
                    <tr><td></td><td style="text-align: right;"><select id="tileColumn" title="Column"></select></td></tr>
                    <tr><td></td><td style="text-align: right;"><select id="tileSuffix" title="Suffix"></select></td></tr>
                </table>
            </td>
            <td>
                <label for="otherTileId">Other Tile ID:</label>
                <select id="otherTileId"></select>
            </td>
        </tr>
    </table>

    <table class="data_table">
        <tr>
            <td>Render DB:</td>
            <td>
                <label for="renderStackOwner">Owner:</label>
                <select id="renderStackOwner"></select>

                <label for="renderStackProject">Project:</label>
                <select id="renderStackProject"></select>

                <label for="renderStack">Stack:</label>
                <select id="renderStack"></select>
            </td>
        </tr>
        <tr>
            <td><label for="renderScale">Render Scale:</label></td>
            <td>
                <select id="renderScale">
                    <option>0.17</option>
                    <option selected>0.3</option>
                    <option>0.5</option>
                    <option>1.0</option>
                </select>
            </td>
        </tr>
        <tr>
            <td style="padding-top: 20px">
                <input type='button' value='View Pair' onclick='janeliaTilePairControls.viewPair()' />
            </td>
            <td style="padding-top: 20px">
                <a id="urlToView" target="_blank">URL for current selections</a>
            </td>
        </tr>
    </table>
</div>

</body>
</html>