<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tile Neighbors</title>

    <link rel="stylesheet" href="../css/match.css">

    <script type="text/javascript" src="../script/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="../script/janelia-render.js?v=20180611_001"></script>
    <script type="text/javascript" src="../script/janelia-tile-neighbors.js?v=20200529_001"></script>
    <script type="text/javascript">

        let tileWithNeighbors;

        const clearSelectedTileInfo = function () {
            $("#selectedTileId").html('');
            $("#selectedTileRenderParameters").html('');
        };

        $( document ).ready(function() {

            const trialConfigKeySelector = $('#trialConfigKey');
            trialConfigKeySelector.hide();
            const trialRunningSelector = $('#trialRunning');
            trialRunningSelector.hide();
            
            const errorMessageSelector = $('#message');

            const util = new JaneliaScriptUtilities();
            const queryParameters = new JaneliaQueryParameters();

            const baseUrl = util.getServicesBaseUrl();

            // TODO: remove this when done debugging on localhost
            //var baseUrl = "http://renderer-dev:8080/render-ws/v1";

            const owner = queryParameters.get('renderStackOwner');
            const project = queryParameters.get('renderStackProject');
            const stack = queryParameters.get('renderStack');
            const tileId = queryParameters.get('tileId');

            const matchOwner = queryParameters.get('matchOwner');
            const matchCollection = queryParameters.get('matchCollection');

            // Until we've stored the point match render context properly, hack these parameters to match your setup.
            // The parameters here are for the FAFB00 project.
            // The SPC parameters used in Fall 2016 were simply 'normalizeForMatching=true&filter=true'.
            let defaultRenderQueryParameters = "excludeMask=true&normalizeForMatching=true&width=2760&height=2330";
            if (owner !== 'flyTEM') {
                defaultRenderQueryParameters = "normalizeForMatching=true&filter=true";
            }

            const defaultRenderScale = 0.15;
            const renderScale = queryParameters.get('renderScale', defaultRenderScale);

            const canvas = document.getElementById("theCanvas");

            tileWithNeighbors = new JaneliaTileWithNeighbors(
                    baseUrl, owner, project, stack,
                    matchOwner, matchCollection,
                    defaultRenderQueryParameters, renderScale, canvas);

            if ((typeof tileId !== 'undefined') && (tileId.length > 0)) {
                const neighborSizeFactor = queryParameters.get("neighborSizeFactor", 0.3);
                tileWithNeighbors.setNeighborSizeFactor(neighborSizeFactor);
                tileWithNeighbors.setTileId(tileId);
            }

            const sep = '&nbsp;&nbsp;&nbsp;&nbsp;';

            $("#tileId").html(tileWithNeighbors.tileId);
            $("#renderStack").html(tileWithNeighbors.owner + sep + tileWithNeighbors.project + sep + tileWithNeighbors.stack);

            const stackLinkHtml = '(<a href="' + tileWithNeighbors.stackUrl + '" target="_blank">stack metadata</a>)';
            $("#renderStackLink").html(stackLinkHtml);
            $("#matchCollection").html(tileWithNeighbors.matchOwner + sep + tileWithNeighbors.matchCollection);

            let matchTrialKey = "default";
            $(window).keydown(function (event) {
                // if pressed key is "a" to "z" ...
                if ((event.which >= 65) && (event.which <= 90)) {
                    matchTrialKey = event.key;
                    const trialConfig = tileWithNeighbors.getMatchTrialConfig(matchTrialKey);
                    trialConfigKeySelector.html("  Match Trial: " + trialConfig.description);
                    trialConfigKeySelector.show();
                }
            });

            let originalSelectedTile = undefined;

            $('#theCanvas').click(function (e) {
                const canvasX = e.pageX - this.offsetLeft;
                const canvasY = e.pageY - this.offsetTop;
                const selectedTile = tileWithNeighbors.selectTile(canvasX, canvasY, e.shiftKey);

                if (e.shiftKey) {

                    if (typeof originalSelectedTile != 'undefined' && typeof selectedTile != "undefined") {
                        tileWithNeighbors.viewTilePair(originalSelectedTile, selectedTile, renderScale * 1.5);
                    }

                } else if (e.altKey) {

                    if (typeof originalSelectedTile != 'undefined' && typeof selectedTile != "undefined") {
                        tileWithNeighbors.runTrial(originalSelectedTile, selectedTile, trialRunningSelector, errorMessageSelector, matchTrialKey);
                    }

                } else {

                    originalSelectedTile = selectedTile;

                    if (typeof selectedTile == "undefined") {
                        clearSelectedTileInfo();
                    } else {
                        const tileIdHtml = '<a href=\"' + selectedTile.specUrl + '" target="_blank"">' +
                                           selectedTile.tileSpec.tileId + '</a>';
                        $("#selectedTileId").html(tileIdHtml);

                        const renderHtml = '(<a href=\"' + selectedTile.renderUrl +
                                           '" target="_blank"">normalized render parameters</a>)';
                        $("#selectedTileRenderParameters").html(renderHtml);
                    }

                }

            });

            $(document).keydown(function(e) {
                switch(e.which) {
                    case 37: // left
                        tileWithNeighbors.move(0, -1);
                        clearSelectedTileInfo();
                        break;

                    case 38: // up
                        tileWithNeighbors.move(-1, 0);
                        clearSelectedTileInfo();
                        break;

                    case 39: // right
                        tileWithNeighbors.move(0, 1);
                        clearSelectedTileInfo();
                        break;

                    case 40: // down
                        tileWithNeighbors.move(1, 0);
                        clearSelectedTileInfo();
                        break;

                    default: return; // exit this handler for other keys
                }
                e.preventDefault(); // prevent the default action (scroll / move caret)
            });

        });

    </script>

</head>
<body>

<h3>Neighbor Matches for <span id="tileId"></span></h3>

<span id="message" class="error"></span>

<span id="trialConfigKey"></span>

<span id="trialRunning" class="trialSpinner"></span>

<div id="headerDiv" class="header_div">
    <table class="data_table">
        <tr>
            <td>Render Stack:</td>
            <td id="renderStack"></td>
            <td id="renderStackLink"></td>
        </tr>
        <tr>
            <td>Match Collection:</td>
            <td id="matchCollection"></td>
            <td></td>
        </tr>
        <tr>
            <td>Selected Tile:</td>
            <td id="selectedTileId">(click tile below to select)</td>
            <td id="selectedTileRenderParameters"></td>
        </tr>
    </table>
</div>

<div id="tileDiv">
    <canvas id="theCanvas" width="800" height="600"></canvas>
</div>

</body>
</html>