<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tile Pair Point Matches</title>

    <link rel="stylesheet" href="../css/match.css">

    <script type="text/javascript" src="../script/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="../script/janelia-render.js"></script>
    <script type="text/javascript" src="../script/janelia-tile-pair.js"></script>
    <script type="text/javascript">

        var tilePair;

        $( document ).ready(function() {

            var util = new JaneliaScriptUtilities();
            var queryParameters = new JaneliaQueryParameters();

            tilePair = new JaneliaTilePair(
                    util.getServicesBaseUrl(),
                    queryParameters.map['renderStackOwner'],
                    queryParameters.map['renderStackProject'],
                    queryParameters.map['renderStack'],
                    queryParameters.map['matchOwner'],
                    queryParameters.map['matchCollection'],
                    parseFloat(queryParameters.map['renderScale']),
                    queryParameters.map['pGroupId'],
                    queryParameters.map['pId'],
                    queryParameters.map['qGroupId'],
                    queryParameters.map['qId']);
        });
    </script>

</head>
<body>

<h3>Tile Pair Point Matches</h3>

<span id="message" class="error"></span>

<div id="headerDiv" class="header_div">
    <table class="data_table">
        <tr> <td>Render Stack:</td>     <td id="renderStack"></td>     <td id="renderStackLink"></td> </tr>
        <tr> <td>Match Collection:</td> <td id="matchCollection"></td> <td id="pairMatchesLink"></td> </tr>
    </table>
</div>

<div id="pTileDiv" class="tile_div">
    <table class="data_table">
        <tr><td>Tile ID:</td><td id="pTileId"></td></tr>
        <tr><td>Tile Size:</td><td id="pFullScaleSize"></td></tr>
        <tr>
            <td>Match Point:</td>
            <td id="pPoint"></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type='button' value='Previous' onclick='tilePair.drawPreviousMatch()' />
                <input type='button' value='Next' onclick='tilePair.drawNextMatch()' />
            </td>
        </tr>
    </table>
    <img id="pTileImage" src="" style="z-index: 1">
    <canvas id="pCanvas" style="z-index: 11"></canvas>
</div>

<div id="qTileDiv" class="tile_div">
    <table class="data_table">
        <tr><td>Tile ID:</td><td id="qTileId"></td></tr>
        <tr><td>Tile Size:</td><td id="qFullScaleSize"></td></tr>
        <tr>
            <td>Match Point:</td>
            <td id="qPoint"></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type='button' value='Previous' onclick='tilePair.drawPreviousMatch()' />
                <input type='button' value='Next' onclick='tilePair.drawNextMatch()' />
            </td>
        </tr>
    </table>
    <img id="qTileImage" src="" style="z-index: 1">
    <canvas id="qCanvas" style="z-index: 11"></canvas>
</div>

</body>
</html>