<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tile Pair Point Matches</title>

    <link rel="stylesheet" href="../css/match.css">

    <script type="text/javascript" src="../script/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="../script/janelia-render.js?v=20170105_001"></script>
    <script type="text/javascript" src="../script/janelia-tile-neighbors.js?v=20170419_001"></script>
    <script type="text/javascript">

        var tilePair;

        $( document ).ready(function() {

            var util = new JaneliaScriptUtilities();
            var queryParameters = new JaneliaQueryParameters();

            var baseUrl = util.getServicesBaseUrl();

            // TODO: remove this when done debugging on localhost
            //var baseUrl = "http://renderer-dev:8080/render-ws/v1";

            var owner = queryParameters.get('renderStackOwner');
            var project = queryParameters.get('renderStackProject', '');
            var stack = queryParameters.get('renderStack');

            var matchOwner = queryParameters.get('matchOwner');
            var matchCollection = queryParameters.get('matchCollection');

            // Until we've stored the point match render context properly,
            // you may need to hack these parameters to match your setup.
            var keyToDefaultRenderParametersMap = {
                'DEFAULT': "excludeMask=true&normalizeForMatching=true",
                'FAFB': "excludeMask=true&normalizeForMatching=true&width=2760&height=2330",
                'HIER_CANVAS': "filter=true"
            };

            var defaultKey = 'DEFAULT';
            if (project.includes('FAFB') || (project == 'ackermand') || (project == 'fly_pilot')) {
                defaultKey = 'FAFB';
            }
            var renderParametersKey = queryParameters.get('renderParametersKey', defaultKey);

            var defaultRenderQueryParameters = keyToDefaultRenderParametersMap[renderParametersKey];

            var defaultRenderScale = 0.15;
            var renderScale = queryParameters.get('renderScale', defaultRenderScale);

            var canvas = document.getElementById("theCanvas");

            tilePair = new JaneliaTileWithNeighbors(
                    baseUrl, owner, project, stack,
                    matchOwner, matchCollection,
                    defaultRenderQueryParameters, renderScale, canvas);

            var tileId = queryParameters.get('pId');
            var otherTileId = queryParameters.get('qId');
            tilePair.setTilePair(tileId, otherTileId);

            var sep = '&nbsp;&nbsp;&nbsp;&nbsp;';

            $("#renderStack").html(tilePair.owner + sep + tilePair.project + sep + tilePair.stack);

            var stackLinkHtml = '(<a href="' + tilePair.stackUrl + '" target="_blank">stack metadata</a>)';
            $("#renderStackLink").html(stackLinkHtml);
            $("#matchCollection").html(tilePair.matchOwner + sep + tilePair.matchCollection);


        });

    </script>

</head>
<body>

<h3>Tile Pair Point Matches</h3>

<span id="message" class="error"></span>

<div id="headerDiv" class="header_div">
    <table class="data_table">
        <tr>
            <td>Render Stack:</td>
            <td id="renderStack"></td>
            <td id="renderStackLink"></td>
        </tr>
        <tr>
            <td>Match Collection:</td>
            <td id="matchCollection"></td>
            <td id="pairMatchesLink"></td>
        </tr>
        <tr>
            <td>Tile IDs:</td>
            <td id="pTileId"></td>
            <td id="qTileId"></td>
        </tr>
        <tr>
            <td>Match View:</td>
            <td>
                <input type='button' value='All Matches' onclick='tilePair.drawAllMatches()' />
                <input type='button' value='Previous Match' onclick='tilePair.drawMatch(-1)' />
                <input type='button' value='Next Match' onclick='tilePair.drawMatch(1)' />
                <input type='button' value='Rotate Tiles' onclick='tilePair.rotatePair()' />
            </td>
            <td id="matchInfo"></td>
        </tr>
    </table>
</div>

<div id="tileDiv">
    <canvas id="theCanvas"></canvas>
</div>

</body>
</html>