body {
  margin: 0;
  overflow: hidden;
  font-family: monospace;
  font-size:20px;
  font-weight: bold;
}
.metaDataContainer {
  position: absolute;
  top: 0; width: 100%;
  padding: 5px;
  text-align:left;
  z-index:99;
}
.layerInput {
  position: absolute;
  top: 80px; width: 100%;
  padding-right: 50px;
  text-align:right;
}
.specsInput {
  position: absolute;
  top: 0; width: 100%;
  padding-right: 50px;
  text-align:right;
}

.gradient {
    width: 175px;
    white-space: nowrap;
    position: absolute;
    display: inline-block;
    bottom: 10px;
    right: 30px;
    padding-bottom: 15px;
    padding-top: 25px;
    text-align:center;
}
.gradient .label {
    position: absolute;
    left: 0;
    font-size: 15px;
    top: 3px;
}
.gradient .domain-min {
    position: absolute;
    left: 0;
    font-size: 15px;
    bottom: 3px;
}
.gradient .domain-med {
    position: absolute;
    right: 25%;
    left: 25%;
    text-align: center;
    font-size: 15px;
    bottom: 3px;
}
.gradient .domain-max {
    position: absolute;
    right: 0;
    font-size: 15px;
    bottom: 3px;
}
.grad-step {
    display: inline-block;
    height: 20px;
    width: 5%;
}
