#breadcrumbs a {
  padding: 0 5px 0 5px;
  border-left: 1px solid black;
}

h3 {
    background-color: gray;
    color: white;
    padding: 5px 0 5px 5px;
}

table {
    border-spacing: 0;
}

th, td {
    vertical-align: top;
    text-align: left;
    padding: 0 20px 10px 0;
}

ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
}