h3 {
    background-color: gray;
    color: white;
    padding: 5px 0 5px 5px;
}

h3 a {
    color: white;
}

label {
    font-weight: bold;
    margin-right: 10px;
}

table {
    border-spacing: 0;
}

th, td {
    vertical-align: top;
    text-align: left;
    padding: 0 20px 10px 0;
}

ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

.COMPLETE {
    color: green;
}

.LOADING {
    color: red;
}

.OFFLINE {
    color: gray;
}

.error {
    color: red;
}

.floatRight {
    float: right;
    margin-right: 20px;
}

.selectSpan {
    margin: 0 5px 0 10px;
}

.m20 {
    margin: 20px;
}

.number {
    text-align: right;
    font-family: monospace;
}

#stackInfo th {
    text-decoration: underline;
}

#stackInfo td {
    font-family: monospace;
}