<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d [%thread] %-5level [%logger] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 
                 The first %d token is marked as auxiliary, so the second %d token is then assumed to be primary.
                 Rollover will occur daily (default for %d) and the folder name will depend on the year and month.
                 For example, during the month of November 2014, archived files will all placed
                 under the logs/2014-11/ folder (e.g logs/2014-11/2014-11-14-jetty.log).
            -->
            <fileNamePattern>${jetty.base}/logs/%d{yyyy-MM,aux}/%d-jetty.log.gz</fileNamePattern>
        </rollingPolicy>

        <encoder>
            <pattern>%d [%thread] %-5level [%logger] %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.janelia" level="DEBUG"/>

    <!--
         Hide mongodb driver cluster log spam until
         https://jira.mongodb.org/browse/JAVA-2136
         gets fixed.
    -->
    <logger name="org.mongodb.driver.cluster" level="WARN"/>

    <!--
         Here are some other contexts that can be useful when debugging (uncomment as needed).
    -->
    <!-- <logger name="org.jboss" level="DEBUG"/> -->
    <!-- <logger name="org.eclipse.jetty.servlets" level="DEBUG"/> -->
    <!-- <logger name="org.eclipse.jetty.server" level="DEBUG"/> -->

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

    <appender name="ACCESS_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--
                 The first %d token is marked as auxiliary, so the second %d token is then assumed to be primary.
                 Rollover will occur daily (default for %d) and the folder name will depend on the year and month.
                 For example, during the month of November 2014, archived files will all placed
                 under the logs/2014-11/ folder (e.g logs/2014-11/2014-11-14-jetty.log).
            -->
            <fileNamePattern>${jetty.base}/logs/%d{yyyy-MM,aux}/%d-access.log.gz</fileNamePattern>
        </rollingPolicy>

        <encoder>
            <!--
                 Request log message format is defined in start.d/requestlog.ini because 
                 for Jetty >= 10 we have to use Jetty's built-in requestlog module instead of logback-access
                 and then just use this logback config to handle rolling files and compression.
            -->
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <!--
         Use ACCESS_FILE appender for Jetty's request log messages
         (see https://github.com/eclipse/jetty.project/issues/5996).
         Note that the logger name is taken from the default name specified in
         the org.eclipse.jetty.server.Slf4jRequestLogWriter no-arg constructor.
    -->
    <logger name="org.eclipse.jetty.server.RequestLog" level="INFO">
        <appender-ref ref="ACCESS_FILE" />
    </logger>

</configuration>
